<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204998889984-rl3mb30nenk8202he4ksvqq5hs1kk0e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204998889984-rl3mb30nenk8202he4ksvqq5hs1kk0e1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204998889984-0ro472fmihktjvd4c2ojse7hecu5q3cs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZDAO3h-lEmymlcqyj3Uf4T1JN8NNcyxc</string>
	<key>GCM_SENDER_ID</key>
	<string>204998889984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.alphacapital.superapp</string>
	<key>PROJECT_ID</key>
	<string>alpha-capital-super-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-capital-super-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204998889984:ios:708192642bcde9f20d7ee5</string>
</dict>
</plist>